name: Sponsors

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sponsors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Generate sponsors
        run: npx sponsorkit --dir assets
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORS_TOKEN }}
          SPONSORKIT_GITHUB_LOGIN: Inerska
          SPONSORKIT_GITHUB_TYPE: user

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'chore: update sponsors'
          file_pattern: 'assets/sponsors.*'
